<template>
    <v-form>
        <v-container>
            <form
                :action="url_base + 'admin/search/'"
                method="GET"
                role="search"
            >
                <v-row>
                    <v-col cols="12">
                        <v-text-field
                            prepend-icon="mdi-magnify"
                            v-model="buscarkey"
                            name="q"
                            id="q"
                            label="Buscar Platillo"
                            clearable
                            color="purple darken-2"
                            required
                        ></v-text-field>
                    </v-col>
                </v-row>
            </form>
        </v-container>
    </v-form>
</template>

<script>
const url_base = process.env.MIX_APP_URL + "/";
export default {
    props: ["buscarkey"],
    data() {
        return {
            buscar: "",
            url_base: url_base
        };
    },
    computed: {},
    methods: {}
};
</script>
