<template>
    <v-container>
        <v-app-bar app class="navbarMenu" elevation="0">
            <v-app-bar-nav-icon
                @click.stop="sidebarMenu = !sidebarMenu"
                class="iconMenuHamburguer"
                color="white"
            ></v-app-bar-nav-icon>
            <v-spacer></v-spacer>
            <v-btn icon class="mr-4">
                <v-list-item to="/logout" @click.native="$router.go()">
                    <v-list-item-content>
                        <v-list-item-title>Salir</v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-icon>
                        <v-icon>mdi-account-arrow-right</v-icon>
                    </v-list-item-icon>
                </v-list-item>
            </v-btn>
        </v-app-bar>
        <v-navigation-drawer
            v-model="sidebarMenu"
            app
            fixed
            :bottom="conf_navBottom"
            overlay-color="#000"
            :permanent="sidebarMenu"
            :temporary="conf_navTemporary"
            class="navegador_principal"
            width="320"
        >
            <v-list dense class="title-AppNavbar" dark>
                <v-list-item>
                    <v-list-item-action>
                        <v-icon @click.stop="sidebarMenu = !sidebarMenu"
                            >mdi-chevron-left</v-icon
                        >
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>
                            <h3 class="font-weight-thin">
                                {{ config.appname }}
                            </h3>
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <v-list-item>
                <v-list-item-avatar>
                    <v-icon>mdi-account-outline</v-icon>
                </v-list-item-avatar>
                <v-list-item-content class="text-truncate">
                    {{ user.nombre }}
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>
            <v-list
                v-for="item in modulos"
                :key="item.titulo"
                v-model="item.active"
                link
                :to="item.enlace"
            >
                <template v-if="!item.submodulos">
                    <v-list-item :to="item.enlace" @click.native="$router.go()">
                        <v-list-item-icon>
                            <v-icon v-text="item.icono"></v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>{{
                                item.titulo
                            }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
                <template v-if="item.submenu">
                    <v-list-group :value="false" :no-action="true">
                        <template v-slot:activator>
                            <v-list-item-icon>
                                <v-icon>{{ item.icono }}</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>{{
                                item.titulo
                            }}</v-list-item-title>
                        </template>
                        <template>
                            <v-list-item
                                v-for="subitem in item.submodulos"
                                :key="subitem.titulo"
                                :to="subitem.enlace"
                                @click.native="$router.go()"
                            >
                                <v-list-item-content>
                                    <v-list-item-title>{{
                                        subitem.titulo
                                    }}</v-list-item-title>
                                </v-list-item-content>
                                <v-list-item-icon v-if="subitem.icono != ''">
                                    <v-icon v-text="subitem.icono"></v-icon>
                                </v-list-item-icon>
                            </v-list-item>
                        </template>
                    </v-list-group>
                </template>
            </v-list>
        </v-navigation-drawer>
    </v-container>
</template>

<script>
import VueRouter from "vue-router";

const viewDefault = { template: "<div>Default</div>" };
const router = new VueRouter({
    mode: "history"
});
export default {
    router: router,

    props: ["user", "config", "modulos"],
    computed: {
        buttonText() {
            return !this.$vuetify.theme.dark ? "Go Dark" : "Go Light";
        }
    },
    data: () => ({
        sidebarMenu: false,
        urlbase: process.env.MIX_APP_URL,
        conf_navBottom: true,
        conf_navTemporary: true
    }),
    methods: {
        toggleTheme() {
            this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
        }
    }
};
</script>
