// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Roboto");
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~vuetify/dist/vuetify.min.css";

.verificaAlimento {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
}
.profileCatalogo {
    position: absolute;
    bottom: -20px;
    right: 0;
    margin: auto;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}
.detalleAlimento {
    .tabGeneral {
        p {
            font-size: 16px;
        }
        .tituloDetalleAlimento {
            font-size: 21px;
            color: #eb710e;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .cont-img-super {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .cont-img {
            height: 92px;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: column;
            img {
                width: 100%;
                max-width: 100%;
            }
        }
        .cont-img-gallery {
            height: 500px;
            width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: column;
            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

#dropzone {
    .dz-image {
        z-index: 0;
    }
}

.alertProgressBar {
    position: fixed;
    z-index: 2;
    overflow: hidden;
    border: #cddc39 6px solid !important;
}

.emptyValid {
    .text-md-center {
        font-size: 1.2rem;
        padding: 17px 0 0 0;
        background-color: #f57c00;
        color: #ffffff;
    }
    .label-valid {
        color: #000000;
    }
    label {
        color: #000000 !important;
    }
}
.navbarMenu {
    background-color: $verdeSAS !important;
    border-color: $verdeSAS !important;
    .v-list-item__title {
        color: #ffffff;
    }
    .v-icon {
        color: #ffffff !important;
    }
}

.navegador_principal {
    .title-AppNavbar {
        background-color: $verdeSAS !important;
        border-color: $verdeSAS !important;
        h3,
        .v-icon {
            color: #ffffff;
        }
    }
}

.filledValid {
    .text-md-center {
        font-size: 1.2rem;
        padding: 17px 0 0 0;
        background-color: #4caf50;
        color: #ffffff;
    }
    .label-valid {
        color: #000000;
    }
}
.login_admin {
    .__body {
        background-color: #7db206;
        .__titulo {
            font-weight: bold;
            color: #fff;
            background-color: #7db206;
            padding: 30px 8px;
            font-size: 30px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            text-align: center;
            position: relative;
            margin-bottom: 30px;
        }
        .btn_login {
            background-color: #ff7f00;
            border: none;
            padding: 10px;
            color: #ffffff;
            font-weight: bold;
            font-size: 18px;
            cursor: pointer;
        }
        .logo_login {
            width: 60px;
            height: auto;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            bottom: -30px;
        }
        .card-header {
            border-bottom: 4px solid #fff;
        }
        .card-body {
            .form-group {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                label {
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
}
.listado_catalogo {
    height: 550px;
    @media only screen and (max-width: 570px) and (min-width: 320px) {
        height: 150px;
    }
}
.categoria_content {
    .__titulo {
        @media only screen and (max-width: 570px) and (min-width: 320px) {
            font-size: 30px !important;
            text-align: center;
        }
    }
    .__descripcion {
        @media only screen and (max-width: 570px) and (min-width: 320px) {
            font-size: 13px !important;
        }
    }
}
.navegador_principal {
    @media only screen and (max-width: 570px) and (min-width: 320px) {
        width: 100% !important;
    }
}
.pointer_cursor {
    &:hover {
        cursor: pointer;
    }
}
.nombreUsuario {
    position: relative;
}
.numberitems {
    background-color: red;
    width: 25px !important;
    height: 25px !important;
    border-radius: 25px !important;
    position: absolute !important;
    font-size: 12px !important;
    font-weight: bold !important;
    top: 3px !important;
    left: 31px !important;
    color: #fff !important;
}
.img-porvalidar {
    width: 220px;
    height: 200px;
    @media only screen and (max-width: 570px) and (min-width: 320px) {
        width: 100% !important;
        height: 80 px !important;
    }
}
.card-validated {
    margin-bottom: 20px !important;
    @media only screen and (max-width: 570px) and (min-width: 320px) {
        width: 50% !important;
    }
}

button.slick-prev:before,
button.slick-next:before {
    background-color: #ff9800 !important;
}
