<template>
    <v-overlay :value="dialogLoading">
        <v-progress-circular
            :size="70"
            :width="7"
            indeterminate
        ></v-progress-circular>
    </v-overlay>
</template>
<script>
export default {
    data() {
        return {
            dialogLoading: false
        };
    },
    methods: {
        show() {
            this.dialogLoading = true;
        },
        hide() {
            this.dialogLoading = false;
        }
    }
};
</script>
