<template>
    <v-container>
        <v-card>
            <v-breadcrumbs divider=">" :items="breadcrumbs" large>
                <template v-slot:item="{ item }">
                    <v-breadcrumbs-item
                        :href="item.href"
                        :disabled="item.disabled"
                    >
                        <span :class="item.textColor">
                            {{ item.text }}
                        </span>
                    </v-breadcrumbs-item>
                </template>
            </v-breadcrumbs>
            <v-card-title>
                <span class="headline">{{ titulo.seccion }}</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-alert
                            v-model="alert"
                            :type="alertType"
                            border="left"
                            elevation="2"
                            colored-border
                            :icon="alertIcon"
                            v-if="alert"
                            transition="scale-transition"
                        >
                            {{ mensajeAcciones }}
                        </v-alert>
                    </v-row>
                    <v-row align="center" justify="end">
                        <v-col cols="6" md="3">
                            <v-btn
                                tile
                                outlined
                                color="success"
                                @click.stop="newItem"
                            >
                                <v-icon left>mdi-plus</v-icon>{{ titulo.nuevo }}
                            </v-btn>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <v-data-table
                                :headers="headers"
                                :items="items.data"
                                item-key="id"
                                class="elevation-1 listado-reporte-tickets"
                                :disable-filtering="filtrar"
                                :options.sync="options"
                            >
                                <template v-slot:top>
                                    <v-dialog
                                        v-model="dialog"
                                        max-width="500px"
                                    >
                                        <v-card>
                                            <v-card-title>
                                                <span class="headline">{{
                                                    titulo.editar
                                                }}</span>
                                            </v-card-title>

                                            <v-card-text>
                                                <v-container>
                                                    <v-row>
                                                        <v-col cols="12">
                                                            <v-text-field
                                                                id="nombre"
                                                                name="nombre"
                                                                label="Nombre"
                                                                v-model="
                                                                    editedItem.name
                                                                "
                                                                :error="
                                                                    errors &&
                                                                    errors.name
                                                                        ? true
                                                                        : false
                                                                "
                                                                :error-messages="
                                                                    errors.name
                                                                "
                                                            ></v-text-field>
                                                        </v-col>
                                                        <v-col cols="12">
                                                            <v-file-input
                                                                accept="image/png, image/jpeg, image/jpg"
                                                                truncate-length="15"
                                                                id="image"
                                                                name="image"
                                                                label="Imagen"
                                                                show-size
                                                                counter
                                                                prepend-icon="mdi-camera"
                                                                :error="
                                                                    errors &&
                                                                    errors.image
                                                                        ? true
                                                                        : false
                                                                "
                                                                :error-messages="
                                                                    errors.image
                                                                "
                                                                @change="
                                                                    updateImageIngredient
                                                                "
                                                            ></v-file-input>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-card-text>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="close"
                                                >
                                                    {{ titulo.cancelar }}
                                                </v-btn>
                                                <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="guardar"
                                                >
                                                    {{ titulo.guardar }}
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                    <v-dialog
                                        v-model="dialogDelete"
                                        max-width="500px"
                                    >
                                        <v-card>
                                            <v-card-title class="headline"
                                                >Are you sure you want to delete
                                                this item?</v-card-title
                                            >
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="closeDelete"
                                                    >{{
                                                        titulo.cancelar
                                                    }}</v-btn
                                                >
                                                <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="deleteItemConfirm"
                                                    >{{ titulo.aceptar }}</v-btn
                                                >
                                                <v-spacer></v-spacer>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </template>
                                <template v-slot:item.image="{ item }">
                                    <v-img
                                        v-if="item.image"
                                        height="50"
                                        width="50"
                                        @click="
                                            openDialog(url_base + item.image)
                                        "
                                        :src="url_base + item.image"
                                    ></v-img>
                                </template>
                                <template v-slot:item.actions="{ item }">
                                    <v-icon
                                        small
                                        class="mr-2"
                                        @click="editItem(item)"
                                    >
                                        mdi-pencil
                                    </v-icon>
                                    <v-icon
                                        v-if="1 == 2"
                                        small
                                        @click="deleteItem(item)"
                                    >
                                        mdi-delete
                                    </v-icon>
                                </template>
                            </v-data-table>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-dialog
                                v-model="dialognew"
                                persistent
                                max-width="600px"
                            >
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">{{
                                            titulo.nuevo
                                        }}</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12">
                                                    <v-text-field
                                                        id="nombre"
                                                        name="nombre"
                                                        label="Nombre"
                                                        v-model="fields.name"
                                                        :error="
                                                            errors &&
                                                            errors.name
                                                                ? true
                                                                : false
                                                        "
                                                        :error-messages="
                                                            errors.name
                                                        "
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="12">
                                                    <v-file-input
                                                        accept="image/png, image/jpeg, image/jpg"
                                                        truncate-length="15"
                                                        id="image"
                                                        name="image"
                                                        label="Imagen"
                                                        show-size
                                                        counter
                                                        prepend-icon="mdi-camera"
                                                        :error="
                                                            errors &&
                                                            errors.image
                                                                ? true
                                                                : false
                                                        "
                                                        :error-messages="
                                                            errors.image
                                                        "
                                                        @change="
                                                            ImageIngredient
                                                        "
                                                    ></v-file-input>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            color="blue darken-1"
                                            text
                                            @click="dialognew = false"
                                            >{{ titulo.cancelar }}</v-btn
                                        >
                                        <v-btn
                                            color="blue darken-1"
                                            text
                                            @click="agregar"
                                            >{{ titulo.guardar }}</v-btn
                                        >
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
        </v-card>
        <template>
            <v-dialog
                v-model="showImage"
                :width="currPic.width"
                :height="currPic.height"
            >
                <v-card>
                    <v-toolbar dense color="elevation-0">
                        <v-spacer></v-spacer>
                        <v-btn icon color="black" @click="showImage = false">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-row>
                        <v-col cols="12" align="center" justify="center">
                            <v-img
                                :src="currPic.currentSrc"
                                :width="currPic.width"
                                :height="currPic.height"
                            ></v-img>
                        </v-col>
                    </v-row>
                </v-card>
            </v-dialog>
        </template>
    </v-container>
</template>

<script>
const url_base = process.env.MIX_APP_URL + "/";
const url_api = url_base + "admin/ingredientes";
export default {
    data() {
        return {
            breadcrumbs: [
                {
                    text: "Inicio",
                    disabled: false,
                    href: url_base,
                    textColor: "orange--text"
                },
                {
                    text: "Ingredientes",
                    disabled: true,
                    href: url_base + "admin/ingredientes",
                    textColor: "orange--text"
                }
            ],
            url_base: url_base,
            titulo: {
                seccion: "Ingredientes",
                nuevo: "Nuevo",
                editar: "Editar",
                aceptar: "Aceptar",
                cancelar: "Cancelar",
                guardar: "Guardar"
            },
            currPic: "",
            showImage: false,
            alert: false,
            alertType: "success",
            alertIcon: "mdi-check-circle",
            mensajeAcciones: "",
            msjExito: "Se ha guardado con exito la información.",
            msjError: "Ocurrio un error al guardar la información",
            dialog: false,
            dialogDelete: false,
            editedIndex: -1,
            editedItem: {
                nombre: "",
                image: ""
            },
            defaultItem: {
                nombre: ""
            },
            items: [],
            options: {},
            filtrar: false,
            dialognew: false,
            fields: [],
            errors: [],
            headers: [
                { text: "ID", value: "id" },
                { text: "Nombre", value: "name" },
                { text: "Imagen", value: "image" },
                { text: "Acciones", value: "actions", sortable: false }
            ]
        };
    },
    created: function() {},
    watch: {
        options: {
            handler() {
                this.obtenerListado();
            },
            deep: true
        },
        dialog(val) {
            val || this.close();
        },
        dialogDelete(val) {
            val || this.closeDelete();
        }
    },
    methods: {
        openDialog(image) {
            this.showImage = true;
            this.currPic = new Image();
            this.currPic.src = image;
        },
        mostrarMensaje(tipo, icono, mensaje) {
            this.alert = true;
            this.mensajeAcciones = mensaje;
            this.alertType = tipo;
            this.alertIcon = icono;
            setTimeout(() => {
                this.alert = false;
            }, 5000);
        },
        obtenerListado() {
            axios
                .get(url_api, {
                    params: {
                        ajax: 1,
                        page: this.options.page
                    }
                })
                .then(res => {
                    this.items = res.data;
                })
                .catch(err => {
                    console.log(err);
                });
        },
        agregar() {
            let formData = new FormData();
            formData.append(
                "image",
                this.fields.image === undefined || this.fields.image === null
                    ? ""
                    : this.fields.image
            );
            formData.append(
                "name",
                this.fields.name === undefined || this.fields.name === null
                    ? ""
                    : this.fields.name
            );
            formData.append("_method", "POST");
            const config = {
                headers: { "content-type": "multipart/form-data" }
            };
            axios
                .post(url_api, formData, config)
                .then(response => {
                    if (response.data.last_insert_id) {
                        this.dialognew = false;
                        this.obtenerListado();
                        this.mostrarMensaje(
                            "success",
                            "mdi-check-circle",
                            this.msjExito
                        );
                    }
                })
                .catch(error => {
                    let errores = error.response.data.errors;
                    this.errors = errores;
                });
        },
        ImageIngredient(file) {
            this.nuevo.foto = file;
        },
        updateImageIngredient(file) {
            this.editedItem.image = file;
        },
        guardar() {
            let formData = new FormData();
            formData.append(
                "image",
                this.editedItem.image === undefined ||
                    this.editedItem.image === null
                    ? ""
                    : this.editedItem.image
            );
            formData.append("id", this.editedItem.id);
            formData.append(
                "name",
                this.editedItem.name === undefined ||
                    this.editedItem.name === null
                    ? ""
                    : this.editedItem.name
            );
            formData.append("_method", "PATCH");
            const config = {
                headers: { "content-type": "multipart/form-data" }
            };
            axios
                .post(url_api + "/" + this.editedItem.id, formData, config)
                .then(response => {
                    this.dialog = false;
                    this.close();
                    this.mostrarMensaje(
                        "success",
                        "mdi-check-circle",
                        this.msjExito
                    );
                })
                .catch(error => {
                    let errores = error.response.data.errors;
                    this.errors = errores;
                });
        },
        newItem() {
            this.errors = [];
            (this.fields = []), (this.dialognew = true);
        },
        editItem(item) {
            this.errors = [];
            this.editedItem = item;
            this.editedItem.image = "";
            this.dialog = true;
        },

        deleteItem(item) {
            this.editedItem = item;
            this.dialogDelete = true;
        },

        deleteItemConfirm() {
            this.closeDelete();
        },

        close() {
            this.obtenerListado();
            this.dialog = false;
        },

        closeDelete() {
            this.obtenerListado();
            this.dialogDelete = false;
        }
    }
};
</script>
