<template>
    <span>
        <v-btn icon v-if="isFavorited" @click.stop="eliminarFavorito(alimento)">
            <v-icon color="red">mdi-heart</v-icon>
        </v-btn>
        <v-btn icon v-else @click.stop="agregarFavorito(alimento)" color="gray">
            <v-icon>mdi-heart</v-icon>
        </v-btn>
    </span>
</template>
<script>
const url_base = process.env.MIX_APP_URL + "/";
export default {
    props: ["alimento", "favorited", "user"],

    data: function() {
        return {
            isFavorited: ""
        };
    },

    mounted() {
        this.isFavorited = this.isFavorite ? true : false;
    },

    computed: {
        isFavorite() {
            return this.favorited;
        }
    },

    methods: {
        agregarFavorito(alimento) {
            let formData = new FormData();
            formData.append("food", alimento.id);
            formData.append("nut", this.user.id);

            axios
                .post(url_base + "api/assign-favorite", formData)

                .then(res => {
                    if (res.data.data.message == "User favorite assigned.") {
                        this.isFavorited = true;
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        eliminarFavorito(alimento) {
            let formData = new FormData();
            formData.append("food", alimento.id);
            formData.append("nut", this.user.id);

            axios
                .post(url_base + "api/delete-favorite", formData)

                .then(res => {
                    if (res.data.data.message == "User favorite deleted.") {
                        this.isFavorited = false;
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        }
    }
};
</script>
