<template>
    <v-container fluid ma-0 pa-0>
        <v-breadcrumbs divider=">" :items="breadcrumbs" large>
            <template v-slot:item="{ item }">
                <v-breadcrumbs-item :href="item.href" :disabled="item.disabled">
                    <span :class="item.textColor">
                        {{ item.text }}
                    </span>
                </v-breadcrumbs-item>
            </template>
        </v-breadcrumbs>
        <v-row>
            <v-col cols="12" lg="4" xs="12">
                <v-card max-width="500">
                    <v-card-title class="white--text orange darken-4">
                        Categorías
                        <v-spacer></v-spacer>

                        <v-btn
                            color="white"
                            class="text--primary"
                            fab
                            small
                            v-if="1 == 2"
                        >
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                    </v-card-title>

                    <v-card-text class="pt-4" v-if="1 == 2"> </v-card-text>

                    <v-divider v-if="1 == 2"></v-divider>
                    <v-list-item-group>
                        <v-virtual-scroll
                            :items="categorias"
                            :item-height="50"
                            class="listado_catalogo"
                        >
                            <template v-slot:default="{ item }">
                                <v-list-item
                                    @click="
                                        obtenerAlimentos(item.foods);
                                        setCategoriActiva = true;
                                    "
                                    color="orange"
                                >
                                    <v-list-item-avatar>
                                        <v-avatar
                                            color="#2196F3"
                                            size="56"
                                            class="white--text text-uppercase"
                                        >
                                            {{ item.name[0] }}
                                        </v-avatar>
                                    </v-list-item-avatar>
                                    <v-list-item-content>
                                        <v-list-item-title>
                                            {{ item.name }}
                                        </v-list-item-title>
                                        <v-icon
                                            color=""
                                            right
                                            class="numberitems"
                                        >
                                            {{ item.foods.length }}
                                        </v-icon>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </v-virtual-scroll>
                    </v-list-item-group>
                </v-card>
            </v-col>

            <v-col cols="12" lg="8" xs="12" class="categoria_content">
                <template v-show="setCategoriActiva">
                    <v-row justify="space-around">
                        <v-col v-for="alimento in alimentos" :key="alimento.id">
                            <v-card :loading="loading" class="">
                                <template slot="progress">
                                    <v-progress-linear
                                        color="deep-purple"
                                        height="10"
                                        indeterminate
                                    ></v-progress-linear>
                                </template>
                                <v-col class="d-flex justify-end" cols="12">
                                    <v-icon
                                        :color="
                                            alimento.validated == 1
                                                ? 'green'
                                                : alimento.validated == 0 &&
                                                  alimento.valid_fields !== ''
                                                ? 'red'
                                                : 'gray'
                                        "
                                        v-text="
                                            alimento.validated == 1
                                                ? 'mdi-check-circle'
                                                : alimento.validated == 0 &&
                                                  alimento.valid_fields !== ''
                                                ? 'mdi-alert-circle'
                                                : 'mdi-timer'
                                        "
                                        >mdi-label</v-icon
                                    >
                                </v-col>
                                <v-col
                                    class="d-flex child-flex pointer_cursor"
                                    cols="12"
                                    @click="obtenerAlimentoInfo(alimento)"
                                >
                                    <v-img
                                        height="250"
                                        width="250"
                                        :src="
                                            'https://nutriologos.com/rapidosyligeros/' +
                                                alimento.image
                                        "
                                    >
                                    </v-img>
                                    <v-avatar
                                        height="60"
                                        width="60"
                                        min-height="60"
                                        min-width="60"
                                        class="profileCatalogo"
                                    >
                                        <v-img
                                            :src="
                                                base_sas +
                                                    'img/nt/' +
                                                    alimento.id_nut +
                                                    '.png'
                                            "
                                        ></v-img>
                                    </v-avatar>
                                </v-col>
                                <v-card-title
                                    class="pointer_cursor"
                                    @click="obtenerAlimentoInfo(alimento)"
                                    >{{ alimento.name }}</v-card-title
                                >

                                <v-card-text>
                                    <v-card flat>
                                        <div
                                            class="pointer_cursor"
                                            @click="
                                                obtenerAlimentoInfo(alimento)
                                            "
                                        >
                                            <v-list>
                                                <v-list-item height="10">
                                                    <v-list-item-action>
                                                        <v-icon
                                                            >mdi-label</v-icon
                                                        >
                                                    </v-list-item-action>
                                                    <v-list-item-content>
                                                        <v-list-item-title
                                                            >Aporte energético:
                                                            {{ alimento.kcal }}
                                                            kcal</v-list-item-title
                                                        >
                                                    </v-list-item-content>
                                                </v-list-item>
                                                <v-divider></v-divider>
                                                <!-- <v-list-item>
                                                    <v-list-item-action>
                                                        <v-icon
                                                            >mdi-label</v-icon
                                                        >
                                                    </v-list-item-action>
                                                    <v-list-item-content>
                                                        <v-list-item-title
                                                            >Precio:
                                                            {{
                                                                formatPrice(
                                                                    alimento.price
                                                                )
                                                            }}</v-list-item-title
                                                        >
                                                    </v-list-item-content>
                                                </v-list-item>
                                                <v-divider></v-divider>
                                                <v-list-item>
                                                    <v-list-item-action>
                                                        <v-icon
                                                            >mdi-label</v-icon
                                                        >
                                                    </v-list-item-action>
                                                    <v-list-item-content>
                                                        <v-list-item-title
                                                            >Por caja:
                                                            {{
                                                                formatPrice(
                                                                    alimento.box_price
                                                                )
                                                            }}
                                                        </v-list-item-title>
                                                    </v-list-item-content>
                                                </v-list-item> -->
                                                <v-list-item>
                                                    <v-list-item-action>
                                                        <v-icon
                                                            >mdi-label</v-icon
                                                        >
                                                    </v-list-item-action>
                                                    <v-list-item-content>
                                                        <v-list-item-title>
                                                            Categorías:
                                                        </v-list-item-title>
                                                    </v-list-item-content>
                                                </v-list-item>
                                                <v-list-item>
                                                    <v-list-item-content>
                                                        <ul
                                                            v-for="cats in alimento.food_categories"
                                                            :key="cats.id"
                                                        >
                                                            <li>
                                                                {{ cats.name }}
                                                            </li>
                                                        </ul>
                                                    </v-list-item-content>
                                                </v-list-item>
                                            </v-list>
                                        </div>
                                        <v-card-actions>
                                            <v-row
                                                align="center"
                                                justify="center"
                                            >
                                                <a
                                                    v-bind:href="
                                                        alimento.id + '/edit'
                                                    "
                                                >
                                                    <v-btn icon>
                                                        <v-icon
                                                            >mdi-lead-pencil</v-icon
                                                        >
                                                    </v-btn>
                                                </a>

                                                <v-btn
                                                    v-if="
                                                        alimento.validated ==
                                                            null
                                                    "
                                                    icon
                                                    @click.stop="
                                                        (dialogEliminarAlimento = true),
                                                            setAlimentoActivo(
                                                                alimento
                                                            )
                                                    "
                                                >
                                                    <v-icon
                                                        >mdi-trash-can</v-icon
                                                    >
                                                </v-btn>
                                                <v-btn
                                                    icon
                                                    @click.stop="
                                                        (dialogEnviarMail = true),
                                                            ((paciente = []),
                                                            setAlimentoActivo(
                                                                alimento
                                                            ),
                                                            (msgMail = ''))
                                                    "
                                                >
                                                    <v-icon>mdi-email</v-icon>
                                                </v-btn>
                                                <favorite
                                                    :user="user"
                                                    :alimento="alimento"
                                                    :favorited="
                                                        alimento.nut_favorites
                                                            .length == 0
                                                            ? false
                                                            : true
                                                    "
                                                ></favorite>
                                            </v-row>
                                        </v-card-actions>
                                    </v-card>
                                </v-card-text>

                                <v-divider class="mx-4"></v-divider>

                                <v-card-actions v-if="1 == 2">
                                    <v-btn
                                        color="deep-purple lighten-2"
                                        text
                                        @click="reserve"
                                    >
                                        Reserve
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </template>
                <!-- Ultimos validar -->
                <v-row
                    justify="center"
                    v-if="typeof lastfoodspend === 'object'"
                >
                    <v-col cols="12 text-h4 text-uppercase ___titulo"> </v-col>
                    <v-col cols="12 subtitle-1 __descripcion">
                        <v-btn
                            class="ma-2"
                            outlined
                            color="indigo"
                            @click="showLess = false"
                            v-show="showLess"
                        >
                            <v-icon dark left> mdi-plus </v-icon>Ver ultimos 6
                            validados
                        </v-btn>
                        <v-btn
                            class="ma-2"
                            outlined
                            color="indigo"
                            @click="showLess = true"
                            v-show="!showLess"
                        >
                            <v-icon dark left> mdi-minus </v-icon>Ver ultimos 3
                            validados
                        </v-btn>
                        <v-divider></v-divider>
                    </v-col>
                </v-row>
                <v-row
                    class="d-flex flex-row justify-center"
                    v-if="typeof lastfoodsvalidated === 'object'"
                >
                    <template v-if="showLess">
                        <v-card
                            v-for="alimento in lastfoodsvalidated.slice(0, 3)"
                            :key="alimento.id"
                            class="card-validated"
                        >
                            <v-col
                                class=" pointer_cursor"
                                cols="12"
                                @click="obtenerAlimentoInfo(alimento)"
                            >
                                <v-img
                                    class="img-porvalidar"
                                    :src="
                                        'https://nutriologos.com/rapidosyligeros/' +
                                            alimento.image
                                    "
                                >
                                </v-img>
                            </v-col>
                            <v-col
                                class="pointer_cursor"
                                @click="obtenerAlimentoInfo(alimento)"
                            >
                                {{
                                    alimento.name != ""
                                        ? alimento.name
                                        : "&nbsp;"
                                }}
                            </v-col>
                            <v-col class="d-flex justify-center" cols="12">
                                <v-alert
                                    dense
                                    text
                                    outlined
                                    type="success"
                                    v-if="alimento.validated == 1"
                                >
                                    Validado
                                </v-alert>
                                <v-alert
                                    dense
                                    outlined
                                    type="error"
                                    color="yellow darken-1"
                                    v-if="
                                        alimento.validated == 0 &&
                                            alimento.valid_fields !== ''
                                    "
                                >
                                    Con información incorrecta
                                    <a
                                        v-bind:href="alimento.id + '/edit'"
                                        title="Corregir"
                                    >
                                        <v-btn
                                            class="mx-2"
                                            fab
                                            dark
                                            small
                                            color="yellow accent-4"
                                        >
                                            <v-icon dark>
                                                mdi-tools
                                            </v-icon>
                                        </v-btn>
                                    </a>
                                </v-alert>
                                <v-alert
                                    dense
                                    outlined
                                    border="left"
                                    type="warning"
                                    icon="mdi-timer"
                                    color="gray"
                                    v-if="alimento.validated == 2"
                                    class="text-uppercase"
                                >
                                    {{ getDate2(alimento.created_at) }}
                                </v-alert>
                            </v-col>
                            <v-divider class="mx-4"></v-divider>
                        </v-card>
                    </template>
                    <template v-else>
                        <v-card
                            v-for="alimento in lastfoodsvalidated"
                            :key="alimento.id"
                            class="card-validated"
                        >
                            <v-col
                                class=" pointer_cursor"
                                cols="12"
                                @click="obtenerAlimentoInfo(alimento)"
                            >
                                <v-img
                                    class="img-porvalidar"
                                    :src="
                                        'https://nutriologos.com/rapidosyligeros/' +
                                            alimento.image
                                    "
                                >
                                </v-img>
                            </v-col>
                            <v-col
                                class="pointer_cursor"
                                @click="obtenerAlimentoInfo(alimento)"
                            >
                                {{
                                    alimento.name != ""
                                        ? alimento.name
                                        : "&nbsp;"
                                }}
                            </v-col>
                            <v-col class="d-flex justify-center" cols="12">
                                <v-alert
                                    dense
                                    text
                                    outlined
                                    type="success"
                                    v-if="alimento.validated == 1"
                                >
                                    Validado
                                </v-alert>
                                <v-alert
                                    dense
                                    outlined
                                    type="error"
                                    color="yellow darken-1"
                                    v-if="
                                        alimento.validated == 0 &&
                                            alimento.valid_fields !== ''
                                    "
                                >
                                    Con información incorrecta
                                    <a
                                        v-bind:href="alimento.id + '/edit'"
                                        title="Corregir"
                                    >
                                        <v-btn
                                            class="mx-2"
                                            fab
                                            dark
                                            small
                                            color="yellow accent-4"
                                        >
                                            <v-icon dark>
                                                mdi-tools
                                            </v-icon>
                                        </v-btn>
                                    </a>
                                </v-alert>
                                <v-alert
                                    dense
                                    outlined
                                    border="left"
                                    type="warning"
                                    icon="mdi-timer"
                                    color="gray"
                                    v-if="alimento.validated == 2"
                                    class="text-uppercase"
                                >
                                    {{ getDate2(alimento.created_at) }}
                                </v-alert>
                            </v-col>
                            <v-divider class="mx-4"></v-divider>
                        </v-card>
                    </template>
                </v-row>
                <!-- Termina Ultimos validar -->
                <!-- Ultimos pendientes de Validar -->
                <v-row
                    justify="space-around"
                    v-if="typeof lastfoodspend === 'object'"
                >
                    <v-col cols="12 text-h4 text-uppercase ___titulo"> </v-col>
                    <v-col cols="12 subtitle-1 __descripcion">
                        <v-btn
                            class="ma-2"
                            outlined
                            color="indigo"
                            @click="showLess2 = false"
                            v-show="showLess2"
                        >
                            <v-icon dark left> mdi-plus </v-icon>Ver ultimos 6
                            pendientes
                        </v-btn>
                        <v-btn
                            class="ma-2"
                            outlined
                            color="indigo"
                            @click="showLess2 = true"
                            v-show="!showLess2"
                        >
                            <v-icon dark left> mdi-minus </v-icon>Ver ultimos 3
                            pendientes
                        </v-btn>
                        <v-divider></v-divider>
                    </v-col>
                </v-row>

                <v-row
                    class="d-flex flex-row justify-center"
                    v-if="typeof lastfoodspend === 'object'"
                >
                    <template v-if="showLess2">
                        <v-card
                            v-for="alimento in lastfoodspend.slice(0, 3)"
                            :key="alimento.id"
                            class="card-validated"
                        >
                            <v-col
                                class=" pointer_cursor"
                                cols="12"
                                @click="obtenerAlimentoInfo(alimento)"
                            >
                                <v-img
                                    class="img-porvalidar"
                                    :src="
                                        'https://nutriologos.com/rapidosyligeros/' +
                                            alimento.image
                                    "
                                >
                                </v-img>
                            </v-col>
                            <v-col
                                class="pointer_cursor"
                                @click="obtenerAlimentoInfo(alimento)"
                            >
                                {{
                                    alimento.name != ""
                                        ? alimento.name
                                        : "&nbsp;"
                                }}
                            </v-col>
                            <v-col class="d-flex justify-center" cols="12">
                                <v-alert
                                    dense
                                    text
                                    outlined
                                    type="success"
                                    v-if="alimento.validated == 1"
                                >
                                    Validado
                                </v-alert>
                                <v-alert
                                    dense
                                    outlined
                                    type="error"
                                    color="yellow accent-4"
                                    v-if="
                                        alimento.validated == 0 &&
                                            alimento.valid_fields !== ''
                                    "
                                >
                                    Con información incorrecta
                                    <a
                                        v-bind:href="alimento.id + '/edit'"
                                        title="Corregir"
                                    >
                                        <v-btn
                                            class="mx-2"
                                            fab
                                            dark
                                            small
                                            color="yellow accent-4"
                                        >
                                            <v-icon dark>
                                                mdi-tools
                                            </v-icon>
                                        </v-btn>
                                    </a>
                                </v-alert>
                                <v-alert
                                    dense
                                    outlined
                                    border="left"
                                    type="warning"
                                    icon="mdi-timer"
                                    color="gray"
                                    v-if="alimento.validated == 2"
                                    class="text-uppercase"
                                >
                                    {{ getDate2(alimento.created_at) }}
                                </v-alert>
                            </v-col>
                            <v-divider class="mx-4"></v-divider>
                        </v-card>
                    </template>
                    <template v-else>
                        <v-card
                            v-for="alimento in lastfoodspend"
                            :key="alimento.id"
                            class="card-validated"
                        >
                            <v-col
                                class=" pointer_cursor"
                                cols="12"
                                @click="obtenerAlimentoInfo(alimento)"
                            >
                                <v-img
                                    class="img-porvalidar"
                                    :src="
                                        'https://nutriologos.com/rapidosyligeros/' +
                                            alimento.image
                                    "
                                >
                                </v-img>
                            </v-col>
                            <v-col
                                class="pointer_cursor"
                                @click="obtenerAlimentoInfo(alimento)"
                            >
                                {{
                                    alimento.name != ""
                                        ? alimento.name
                                        : "&nbsp;"
                                }}
                            </v-col>
                            <v-col class="d-flex justify-center" cols="12">
                                <v-alert
                                    dense
                                    text
                                    outlined
                                    type="success"
                                    v-if="alimento.validated == 1"
                                >
                                    Validado
                                </v-alert>
                                <v-alert
                                    dense
                                    outlined
                                    type="error"
                                    color="yellow darken-1"
                                    v-if="
                                        alimento.validated == 0 &&
                                            alimento.valid_fields !== ''
                                    "
                                >
                                    Con información incorrecta
                                    <a
                                        v-bind:href="alimento.id + '/edit'"
                                        title="Corregir"
                                    >
                                        <v-btn
                                            class="mx-2"
                                            fab
                                            dark
                                            small
                                            color="yellow accent-4"
                                        >
                                            <v-icon dark>
                                                mdi-tools
                                            </v-icon>
                                        </v-btn>
                                    </a>
                                </v-alert>
                                <v-alert
                                    dense
                                    outlined
                                    border="left"
                                    type="warning"
                                    icon="mdi-timer"
                                    color="gray"
                                    v-if="alimento.validated == 2"
                                    class="text-uppercase"
                                >
                                    {{ getDate2(alimento.created_at) }}
                                </v-alert>
                            </v-col>
                            <v-divider class="mx-4"></v-divider>
                        </v-card>
                    </template>
                </v-row>
                <!-- Termina Ultimos pendientes de Validar -->
            </v-col>
            <!--v-col cols="12" lg="8" xs="12" class="categoria_content"> </v-col-->
        </v-row>
        <template>
            <v-row justify="center">
                <v-dialog
                    v-model="dialogDetalleAlimento"
                    fullscreen
                    hide-overlay
                    transition="dialog-bottom-transition"
                >
                    <v-card>
                        <v-toolbar dark color="primary">
                            <v-btn
                                icon
                                dark
                                @click="dialogDetalleAlimento = false"
                            >
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                            <v-toolbar-title>{{
                                alimentoActivo.name
                            }}</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-card class="detalleAlimento">
                            <v-tabs
                                background-color="orange accent-4"
                                centered
                                dark
                                icons-and-text
                            >
                                <v-tabs-slider></v-tabs-slider>
                                <v-tab>
                                    General
                                </v-tab>

                                <v-tab
                                    v-if="
                                        alimentoActivo.ingredients &&
                                            alimentoActivo.ingredients.length >
                                                0
                                    "
                                >
                                    Ingredientes
                                </v-tab>

                                <v-tab
                                    v-if="
                                        alimentoActivo.supermarkets &&
                                            alimentoActivo.supermarkets.length >
                                                0
                                    "
                                >
                                    Supermercados
                                </v-tab>
                                <v-tab
                                    v-if="
                                        (alimentoActivo.videos &&
                                            alimentoActivo.videos.length > 0) ||
                                            (alimentoActivo.pdfs &&
                                                alimentoActivo.pdfs.length > 0)
                                    "
                                >
                                    Medios
                                </v-tab>

                                <v-tab
                                    v-if="
                                        alimentoActivo.gallery &&
                                            alimentoActivo.gallery.length > 0
                                    "
                                >
                                    Galeria
                                </v-tab>
                                <v-tab-item>
                                    <v-card flat>
                                        <v-card-text>
                                            <div class="tabGeneral">
                                                <p
                                                    class="h6 tituloDetalleAlimento"
                                                >
                                                    Como se dicta en la dieta
                                                </p>
                                                <p ref="textCopy">
                                                    {{
                                                        alimentoActivo.diet_name
                                                    }}
                                                    <input
                                                        type="hidden"
                                                        id="testing-code"
                                                        :value="
                                                            alimentoActivo.diet_name
                                                        "
                                                    />
                                                </p>
                                                <v-row
                                                    align="center"
                                                    justify="space-around"
                                                >
                                                    <v-col
                                                        cols="12"
                                                        lg="3"
                                                        xs="12"
                                                    >
                                                        <v-btn
                                                            tile
                                                            color="primary"
                                                            :loading="loading"
                                                            :disabled="loading"
                                                            @click="
                                                                loader =
                                                                    'loading'
                                                            "
                                                            @click.stop="
                                                                copyText()
                                                            "
                                                        >
                                                            <v-icon left>
                                                                mdi-content-copy
                                                            </v-icon>
                                                            Copiar Nombre
                                                        </v-btn>
                                                    </v-col>
                                                    <v-col
                                                        cols="12"
                                                        lg="3"
                                                        xs="12"
                                                    >
                                                        <v-btn
                                                            tile
                                                            color="success"
                                                            @click.stop="
                                                                (dialogEnviarMail = true),
                                                                    (paciente = []),
                                                                    (msgMail =
                                                                        '')
                                                            "
                                                        >
                                                            <v-icon left>
                                                                mdi-email
                                                            </v-icon>
                                                            Enviar al Paciente
                                                        </v-btn>
                                                    </v-col>
                                                    <v-spacer></v-spacer>
                                                </v-row>
                                                <v-row>
                                                    <v-col
                                                        class="d-flex justify-start"
                                                        cols="12"
                                                    >
                                                        <v-alert
                                                            dense
                                                            text
                                                            type="success"
                                                            v-if="
                                                                alimentoActivo.validated ==
                                                                    1
                                                            "
                                                        >
                                                            Alimento validado
                                                            correctamente
                                                        </v-alert>
                                                        <v-alert
                                                            dense
                                                            outlined
                                                            type="error"
                                                            v-if="
                                                                alimentoActivo.validated ==
                                                                    0 &&
                                                                    alimentoActivo.valid_fields !==
                                                                        ''
                                                            "
                                                        >
                                                            Alimento con
                                                            información
                                                            incorrecta
                                                        </v-alert>
                                                        <v-alert
                                                            dense
                                                            border="left"
                                                            type="warning"
                                                            v-if="
                                                                alimentoActivo.validated ==
                                                                    0 &&
                                                                    alimentoActivo.valid_fields ==
                                                                        ''
                                                            "
                                                        >
                                                            En espera de
                                                            validación desde el:
                                                            {{
                                                                getDate(
                                                                    alimentoActivo.created_at
                                                                )
                                                            }}
                                                        </v-alert>
                                                    </v-col>
                                                    <v-col
                                                        cols="12"
                                                        lg="12"
                                                        xs="12"
                                                        v-if="
                                                            msgComentarioUsuario !==
                                                                ''
                                                        "
                                                    >
                                                        <v-alert
                                                            color="indigo"
                                                            border="left"
                                                            elevation="2"
                                                            colored-border
                                                            transition="scale-transition"
                                                        >
                                                            {{
                                                                msgComentarioUsuario
                                                            }}
                                                        </v-alert>
                                                    </v-col>
                                                    <v-col
                                                        cols="12"
                                                        lg="6"
                                                        xs="12"
                                                    >
                                                        <v-textarea
                                                            outlined
                                                            id="comentarioUsuario"
                                                            name="comentarioUsuario"
                                                            label="¿Quiéres dejar un comentario? "
                                                            v-model="
                                                                comentarioUsuario
                                                            "
                                                            :error="
                                                                errors &&
                                                                errors.comentarioUsuario
                                                                    ? true
                                                                    : false
                                                            "
                                                            :error-messages="
                                                                errors.comentarioUsuario
                                                            "
                                                        ></v-textarea>
                                                        <v-col cols="12">
                                                            <v-btn
                                                                tile
                                                                color="success"
                                                                @click.stop="
                                                                    enviarComentarioUsuario
                                                                "
                                                            >
                                                                <v-icon left>
                                                                    mdi-comment
                                                                </v-icon>
                                                                Comentar
                                                            </v-btn>
                                                        </v-col>
                                                    </v-col>
                                                </v-row>
                                                <v-divider></v-divider>
                                                <p
                                                    class="h6 tituloDetalleAlimento"
                                                >
                                                    Estrategias
                                                </p>
                                                <p>
                                                    {{
                                                        alimentoActivo.strategies
                                                    }}
                                                </p>
                                                <v-divider></v-divider>
                                                <p
                                                    class="h6 tituloDetalleAlimento"
                                                >
                                                    Reglas
                                                </p>
                                                <p>
                                                    {{ alimentoActivo.rules }}
                                                </p>
                                                <v-divider></v-divider>
                                                <p
                                                    class="h6 tituloDetalleAlimento"
                                                >
                                                    ¿Dónde se comienza a
                                                    exagerar?
                                                </p>
                                                <p>
                                                    {{
                                                        alimentoActivo.exaggerate
                                                    }}
                                                </p>
                                                <v-divider></v-divider>
                                                <p
                                                    class="h6 tituloDetalleAlimento"
                                                >
                                                    Riesgos
                                                </p>
                                                <p>
                                                    {{ alimentoActivo.risks }}
                                                </p>
                                                <v-divider></v-divider>
                                                <p
                                                    class="h6 tituloDetalleAlimento"
                                                >
                                                    Recomendaciones Generales
                                                </p>
                                                <p>
                                                    {{
                                                        alimentoActivo.generals
                                                    }}
                                                </p>
                                                <v-divider></v-divider>
                                                <p
                                                    class="h6 tituloDetalleAlimento"
                                                >
                                                    Preparación
                                                </p>
                                                <p>
                                                    {{
                                                        alimentoActivo.preparation
                                                    }}
                                                </p>
                                                <v-divider></v-divider>
                                                <p
                                                    class="h6 tituloDetalleAlimento"
                                                >
                                                    Este alimento es equivalente
                                                    a
                                                </p>
                                                <p>
                                                    {{
                                                        alimentoActivo.equivalent
                                                    }}
                                                </p>
                                            </div>
                                        </v-card-text>
                                    </v-card>
                                </v-tab-item>

                                <v-tab-item
                                    v-if="
                                        alimentoActivo.ingredients &&
                                            alimentoActivo.ingredients.length >
                                                0
                                    "
                                >
                                    <v-card class="mx-auto" max-width="500">
                                        <v-list>
                                            <v-list-item-group>
                                                <v-list-item
                                                    v-for="(item,
                                                    i) in alimentoActivo.ingredients"
                                                    :key="i"
                                                >
                                                    <v-list-item-action>
                                                        <v-icon
                                                            >mdi-label</v-icon
                                                        >
                                                    </v-list-item-action>
                                                    <v-list-item-content>
                                                        <v-list-item-title
                                                            class="text-uppercase"
                                                            v-text="item.name"
                                                        ></v-list-item-title>
                                                    </v-list-item-content>
                                                    <v-list-item-icon
                                                        v-if="item.image"
                                                    >
                                                        <v-img
                                                            height="50"
                                                            width="50"
                                                            :src="
                                                                '/ingredientes/' +
                                                                    item.image
                                                            "
                                                        ></v-img>
                                                    </v-list-item-icon>
                                                </v-list-item>
                                            </v-list-item-group>
                                        </v-list>
                                    </v-card>
                                </v-tab-item>
                                <v-tab-item
                                    v-if="
                                        alimentoActivo.supermarkets &&
                                            alimentoActivo.supermarkets.length >
                                                0
                                    "
                                >
                                    <v-container
                                        class="fill-height"
                                        fluid
                                        style="min-height: 434px"
                                    >
                                        <v-row>
                                            <v-col cols="12">
                                                <v-card-text class="title">
                                                    ¿Dónde comprar?
                                                </v-card-text>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col
                                                cols="4"
                                                v-for="(item,
                                                i) in alimentoActivo.supermarkets"
                                                :key="i"
                                            >
                                                <v-card>
                                                    <div class="cont-img-super">
                                                        <div class="cont-img">
                                                            <img
                                                                :src="
                                                                    url_base +
                                                                        item.image
                                                                "
                                                            />
                                                        </div>
                                                    </div>
                                                    <v-divider></v-divider>
                                                    <div
                                                        class="subtitle-2 text-center"
                                                    >
                                                        {{ item.name }}
                                                    </div>
                                                </v-card>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-tab-item>
                                <v-tab-item
                                    v-if="
                                        (alimentoActivo.videos &&
                                            alimentoActivo.videos.length > 0) ||
                                            (alimentoActivo.pdfs &&
                                                alimentoActivo.pdfs.length > 0)
                                    "
                                >
                                    <v-list subheader two-line>
                                        <v-subheader
                                            inset
                                            v-if="
                                                alimentoActivo.videos &&
                                                    alimentoActivo.videos
                                                        .length > 0
                                            "
                                            >Videos</v-subheader
                                        >

                                        <v-list-item
                                            v-if="
                                                alimentoActivo.videos &&
                                                    alimentoActivo.videos
                                                        .length > 0
                                            "
                                            v-for="video in alimentoActivo.videos"
                                            :key="video.id"
                                        >
                                            <v-list-item-avatar>
                                                <v-icon
                                                    class="grey lighten-1"
                                                    dark
                                                >
                                                    mdi-motion-play
                                                </v-icon>
                                            </v-list-item-avatar>

                                            <v-list-item-content>
                                                <v-btn
                                                    text
                                                    target="_blank"
                                                    :href="video.url_video"
                                                >
                                                    <v-list-item-title
                                                        >Ver
                                                        video</v-list-item-title
                                                    >
                                                </v-btn>

                                                <v-list-item-subtitle
                                                    v-text="video.url_video"
                                                ></v-list-item-subtitle>
                                            </v-list-item-content>
                                        </v-list-item>

                                        <v-divider inset></v-divider>
                                        <v-subheader
                                            inset
                                            v-if="
                                                alimentoActivo.pdfs &&
                                                    alimentoActivo.pdfs.length >
                                                        0
                                            "
                                        >
                                            Archivos</v-subheader
                                        >
                                        <v-list-item
                                            v-if="
                                                alimentoActivo.pdfs &&
                                                    alimentoActivo.pdfs.length >
                                                        0
                                            "
                                            v-for="file in alimentoActivo.pdfs"
                                            :key="file.id"
                                        >
                                            <v-list-item-avatar>
                                                <v-icon
                                                    class="grey lighten-1"
                                                    dark
                                                >
                                                    mdi-open-in-new
                                                </v-icon>
                                            </v-list-item-avatar>

                                            <v-list-item-content>
                                                <v-btn
                                                    text
                                                    target="_blank"
                                                    :href="file.url_pdf"
                                                >
                                                    <v-list-item-title
                                                        >Abrir
                                                        Enlace</v-list-item-title
                                                    >
                                                </v-btn>

                                                <v-list-item-subtitle
                                                    v-text="file.url_pdf"
                                                ></v-list-item-subtitle>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </v-list>
                                </v-tab-item>
                                <v-tab-item
                                    v-if="
                                        alimentoActivo.gallery &&
                                            alimentoActivo.gallery.length > 0
                                    "
                                >
                                    <v-card flat>
                                        <v-card-text>
                                            <!-- Galeria Imagenes -->
                                            <v-carousel>
                                                <v-carousel-item
                                                    v-for="(item,
                                                    i) in alimentoActivo.gallery"
                                                    :key="i"
                                                    reverse-transition="fade-transition"
                                                    transition="fade-transition"
                                                >
                                                    <div class="cont-img-super">
                                                        <div
                                                            class="cont-img-gallery"
                                                        >
                                                            <img
                                                                :src="
                                                                    url_base +
                                                                        item.image
                                                                "
                                                            />
                                                        </div>
                                                    </div>
                                                    <!--v-img
                                                        :aspect-ratio="16 / 9"
                                                        :src="'/' + item.image"
                                                        contain
                                                    ></v-img-->
                                                </v-carousel-item>
                                            </v-carousel>
                                            <!-- Termina Galeria Imagenes -->
                                        </v-card-text>
                                    </v-card>
                                </v-tab-item>
                            </v-tabs>
                        </v-card>
                    </v-card>
                </v-dialog>
            </v-row>
        </template>

        <!--Enviar Mail Paciente -->
        <v-dialog
            v-model="dialogEnviarMail"
            transition="dialog-top-transition"
            max-width="600"
        >
            <v-card>
                <v-toolbar color="primary" dark
                    >Enviar email al paciente</v-toolbar
                >
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12" v-if="msgMail !== ''">
                                <v-alert
                                    color="indigo"
                                    border="left"
                                    elevation="2"
                                    colored-border
                                    transition="scale-transition"
                                >
                                    {{ msgMail }}
                                </v-alert>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field
                                    id="email"
                                    name="email"
                                    label=" Ingresa el correo del paciente "
                                    v-model="paciente.email"
                                    :error="
                                        errors && errors.email ? true : false
                                    "
                                    :error-messages="errors.email"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field
                                    id="comentario"
                                    name="comentario"
                                    label=" ¿Deseas añadir algun comentario? "
                                    v-model="paciente.comentario"
                                    :error="
                                        errors && errors.comentario
                                            ? true
                                            : false
                                    "
                                    :error-messages="errors.comentario"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue darken-1"
                        text
                        @click="dialogEnviarMail = false"
                    >
                        Cerrar
                    </v-btn>
                    <v-btn
                        color="blue darken-1"
                        text
                        @click="enviarMailPaciente"
                    >
                        Enviar Correo
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!--Termina Enviar Mail Paciente -->
        <!-- Dialog Confirmar eliminar-->
        <v-dialog
            v-model="dialogEliminarAlimento"
            transition="dialog-top-transition"
            max-width="600"
        >
            <v-card>
                <v-toolbar color="red darken-2" dark>Eliminar</v-toolbar>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12" v-if="msgMail !== ''">
                                <v-alert
                                    color="indigo"
                                    border="left"
                                    elevation="2"
                                    colored-border
                                    transition="scale-transition"
                                >
                                    {{ msgMail }}
                                </v-alert>
                            </v-col>
                            <v-col cols="12">
                                <div class="text-subtitle-1 mb-4">
                                    ¿Estas segura de querer borrar este
                                    alimento?
                                </div>
                                <div class="font-weight-black">
                                    {{ alimentoActivo.name }}
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue darken-1"
                        text
                        @click="dialogEliminarAlimento = false"
                    >
                        Cerrar
                    </v-btn>
                    <v-btn color="red darken-2" text @click="eliminarAlimento">
                        Eliminar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- Termina Confirmar eliminar-->
        <loading ref="dialogLoading"></loading>
    </v-container>
</template>

<script>
const url_base = process.env.MIX_APP_URL + "/";
const url_api = url_base + "admin/categorias/alimentos";
const url_alimentos_detalles = url_base + "admin/alimentos";
import Loading from "../../Loading.vue";
import favorite from "../../admin/alimento/Favorito.vue";
export default {
    props: [
        "categorias",
        "user",
        "lastfoodsvalidated",
        "lastfoodspend",
        "sincategoria"
    ],
    data: () => ({
        breadcrumbs: [
            {
                text: "Inicio",
                disabled: false,
                href: url_base,
                textColor: "orange--text"
            },
            {
                text: "Mis alimentos",
                disabled: true,
                href: url_base + "admin/alimentos/usuario",
                textColor: "orange--text"
            }
        ],
        url_base: url_base,
        categoriaActiva: [],
        alimentos: [],
        loading: false,
        selection: 1,
        base_sas: "https://dietasi.com/",
        dialogDetalleAlimento: false,
        dialogEliminarAlimento: false,
        alimentoActivo: [],
        loader: null,
        loading: false,
        dialogEnviarMail: false,
        paciente: [],
        errors: [],
        setCategoriActiva: false,
        msgMail: "",
        mailError: "Ocurrio un error al enviar el email, intenta mas tarde.",
        mailSucces: "El email se ha enviado correctamente",
        mailValidation: "El email es requerido, ingrese un valor valido",
        comentarioUsuario: "",
        msgComentarioUsuario: "",
        limitpage: 3,
        showLess: true,
        showLess2: true
    }),
    created: function() {
        // `this` hace referencia a la instancia vm
        //console.log("categorias es: " + this.categorias);
        //console.log("sincategorias es: " + this.sincategoria);
        this.categorias.push(this.sincategoria);
        //console.log("categorias nuevas es: " + this.sincategoria);
    },
    watch: {
        loader() {
            const l = this.loader;
            this[l] = !this[l];

            setTimeout(() => (this[l] = false), 2000);

            this.loader = null;
        }
    },

    methods: {
        obtenerAlimentoInfo(alimento) {
            this.$refs.dialogLoading.show();
            this.alimentoActivo = [];
            this.dialogDetalleAlimento = false;

            axios
                .get(url_alimentos_detalles + "/" + alimento.id, {})

                .then(res => {
                    this.$refs.dialogLoading.hide();
                    this.alimentoActivo = res.data.data[0];
                    this.dialogDetalleAlimento = true;
                })
                .catch(err => {
                    console.log(err);
                });
        },
        setAlimentoActivo(alimento) {
            this.alimentoActivo = [];
            this.alimentoActivo = alimento;
        },
        obtenerAlimentos(alimentos) {
            this.setCategoriActiva = false;
            this.$refs.dialogLoading.show();
            this.alimentos = alimentos;
            this.$refs.dialogLoading.hide();
        },
        reserve() {
            this.loading = true;

            setTimeout(() => (this.loading = false), 2000);
        },
        formatPrice(value) {
            const options1 = { style: "currency", currency: "MXN" };
            const numberFormat1 = new Intl.NumberFormat("es-MX", options1);
            return numberFormat1.format(value);
        },
        copyText(texto) {
            let testingCodeToCopy = document.querySelector("#testing-code");
            testingCodeToCopy.setAttribute("type", "text"); // 不是 hidden 才能複製
            testingCodeToCopy.select();

            try {
                var successful = document.execCommand("copy");
                var msg = successful ? "successful" : "unsuccessful";
            } catch (err) {}

            /* unselect the range */
            testingCodeToCopy.setAttribute("type", "hidden");
            window.getSelection().removeAllRanges();
        },
        getDate(date) {
            var fecha = new Date(date);
            var month = fecha.toLocaleString("es-MX", { month: "long" });
            return (
                fecha.getDate() + " de " + month + " del " + fecha.getFullYear()
            );
        },
        getDate2(date) {
            var fecha = new Date(date);
            var month = fecha.toLocaleString("es-MX", { month: "2-digit" });

            return fecha.getDate() + "/" + month + "/" + fecha.getFullYear();
        },
        enviarMailPaciente() {
            this.msgMail = "";
            this.$refs.dialogLoading.show();

            let formData = new FormData();
            formData.append("id", this.alimentoActivo.id);
            formData.append("mailPaciente", this.paciente.email);
            formData.append(
                "comentarioAlimento",
                this.paciente.comentario != "" &&
                    typeof this.paciente.comentario !== "undefined" &&
                    null != this.paciente.comentario
                    ? this.paciente.comentario
                    : ""
            );
            if (this.paciente.email !== "") {
                axios
                    .post(url_base + "admin/catalogo/email", formData)

                    .then(res => {
                        this.$refs.dialogLoading.hide();

                        if (res.data.emailSend == 1) {
                            this.msgMail = this.mailSucces;
                            this.paciente = [];
                        } else this.msgMail = this.mailError;
                    })
                    .catch(err => {
                        console.log(err);
                    });
            } else {
                this.msgMail = this.mailValidation;
            }
        },
        enviarComentarioUsuario() {
            let formData = new FormData();
            formData.append("food_id", this.alimentoActivo.id);
            formData.append("comment", this.comentarioUsuario);
            if (this.comentarioUsuario !== "") {
                this.$refs.dialogLoading.show();
                axios
                    .post(
                        url_base + "admin/catalogo/comentarioUsuario",
                        formData
                    )

                    .then(res => {
                        this.$refs.dialogLoading.hide();

                        if (res.data.last_insert_id > 0) {
                            this.msgComentarioUsuario =
                                "Comentario gurdado exitosamente";
                            this.comentarioUsuario = "";
                            setTimeout(
                                () => (this.msgComentarioUsuario = ""),
                                3000
                            );
                        } else
                            this.msgComentarioUsuario =
                                "Ocurrio un error al enviar el comentario, intenta más tarde";
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }
        },
        eliminarAlimento() {
            const id = this.alimentoActivo.id;
            const current_alimentos = this.alimentos;
            axios
                .delete(url_base + "admin/alimentos/" + id)
                .then(res => {
                    if (res.status === 200) {
                        this.dialogEliminarAlimento = false;
                        let nuevo_arreglo = current_alimentos.filter(
                            value => value.id !== id
                        );
                        this.alimentos = nuevo_arreglo;
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        }
    }
};
</script>
