<template>
    <v-container>
        <v-card>
            <v-breadcrumbs divider=">" :items="breadcrumbs" large>
                <template v-slot:item="{ item }">
                    <v-breadcrumbs-item
                        :href="item.href"
                        :disabled="item.disabled"
                    >
                        <span :class="item.textColor">
                            {{ item.text }}
                        </span>
                    </v-breadcrumbs-item>
                </template>
            </v-breadcrumbs>
            <v-card-title>
                <span class="headline">{{ titulo.seccion }}</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-alert
                            v-model="alert"
                            :type="alertType"
                            border="left"
                            elevation="2"
                            colored-border
                            :icon="alertIcon"
                            v-if="alert"
                            transition="scale-transition"
                        >
                            {{ mensajeAcciones }}
                        </v-alert>
                    </v-row>
                    <v-row align="center" justify="end">
                        <v-col cols="6" md="3">
                            <v-btn
                                tile
                                outlined
                                color="success"
                                @click.stop="newItem"
                            >
                                <v-icon left>mdi-plus</v-icon>{{ titulo.nuevo }}
                            </v-btn>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <v-data-table
                                :headers="headers"
                                :items="items.data"
                                item-key="id"
                                class="elevation-1 listado-reporte-tickets"
                                :disable-filtering="filtrar"
                                :options.sync="options"
                            >
                                <template v-slot:top>
                                    <v-dialog
                                        v-model="dialog"
                                        max-width="500px"
                                    >
                                        <v-card>
                                            <v-card-title>
                                                <span class="headline">{{
                                                    titulo.editar
                                                }}</span>
                                            </v-card-title>

                                            <v-card-text>
                                                <v-container>
                                                    <v-row>
                                                        <v-col cols="12">
                                                            <v-text-field
                                                                id="nombre"
                                                                name="nombre"
                                                                label="Nombre"
                                                                v-model="
                                                                    editedItem.name
                                                                "
                                                                :error="
                                                                    errors &&
                                                                    errors.name
                                                                        ? true
                                                                        : false
                                                                "
                                                                :error-messages="
                                                                    errors.name
                                                                "
                                                            ></v-text-field>
                                                        </v-col>
                                                        <v-col cols="12">
                                                            <v-text-field
                                                                id="orden"
                                                                name="orden "
                                                                label="Orden"
                                                                v-model="
                                                                    editedItem.sequence
                                                                "
                                                                :error="
                                                                    errors &&
                                                                    errors.sequence
                                                                        ? true
                                                                        : false
                                                                "
                                                                :error-messages="
                                                                    errors.sequence
                                                                "
                                                            ></v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-card-text>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="close"
                                                >
                                                    {{ titulo.cancelar }}
                                                </v-btn>
                                                <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="guardar"
                                                >
                                                    {{ titulo.guardar }}
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                    <v-dialog
                                        v-model="dialogDelete"
                                        max-width="500px"
                                    >
                                        <v-card>
                                            <v-card-title class="headline"
                                                >Are you sure you want to delete
                                                this item?</v-card-title
                                            >
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="closeDelete"
                                                    >{{
                                                        titulo.cancelar
                                                    }}</v-btn
                                                >
                                                <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="deleteItemConfirm"
                                                    >{{ titulo.aceptar }}</v-btn
                                                >
                                                <v-spacer></v-spacer>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>
                                </template>
                                <template v-slot:item.actions="{ item }">
                                    <v-icon
                                        small
                                        class="mr-2"
                                        @click="editItem(item)"
                                    >
                                        mdi-pencil
                                    </v-icon>
                                    <v-icon
                                        v-if="1 == 2"
                                        small
                                        @click="deleteItem(item)"
                                    >
                                        mdi-delete
                                    </v-icon>
                                </template>
                            </v-data-table>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-dialog
                                v-model="dialognew"
                                persistent
                                max-width="600px"
                            >
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">{{
                                            titulo.nuevo
                                        }}</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12">
                                                    <v-text-field
                                                        id="nombre"
                                                        name="nombre"
                                                        label="Nombre"
                                                        v-model="fields.name"
                                                        :error="
                                                            errors &&
                                                            errors.name
                                                                ? true
                                                                : false
                                                        "
                                                        :error-messages="
                                                            errors.name
                                                        "
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="12">
                                                    <v-text-field
                                                        id="orden"
                                                        name="orden"
                                                        label="Orden"
                                                        v-model="
                                                            fields.sequence
                                                        "
                                                        :error="
                                                            errors &&
                                                            errors.sequence
                                                                ? true
                                                                : false
                                                        "
                                                        :error-messages="
                                                            errors.sequence
                                                        "
                                                    ></v-text-field>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            color="blue darken-1"
                                            text
                                            @click="dialognew = false"
                                            >{{ titulo.cancelar }}</v-btn
                                        >
                                        <v-btn
                                            color="blue darken-1"
                                            text
                                            @click="agregar"
                                            >{{ titulo.guardar }}</v-btn
                                        >
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
const url_base = process.env.MIX_APP_URL + "/";
const url_api = url_base + "admin/categorias/combos";
export default {
    data() {
        return {
            breadcrumbs: [
                {
                    text: "Inicio",
                    disabled: false,
                    href: url_base,
                    textColor: "orange--text"
                },
                {
                    text: "Categorías Combos",
                    disabled: true,
                    href: url_base + "admin/categorias/combos",
                    textColor: "orange--text"
                }
            ],
            titulo: {
                seccion: "Categorías Combos",
                nuevo: "Nuevo",
                editar: "Editar",
                aceptar: "Aceptar",
                cancelar: "Cancelar",
                guardar: "Guardar"
            },
            alert: false,
            alertType: "success",
            alertIcon: "mdi-check-circle",
            mensajeAcciones: "",
            msjExito: "Se ha guardado con exito la información.",
            msjError: "Ocurrio un error al guardar la información",
            dialog: false,
            dialogDelete: false,
            editedIndex: -1,
            editedItem: {
                nombre: ""
            },
            defaultItem: {
                nombre: ""
            },
            items: [],
            options: {},
            filtrar: false,
            dialognew: false,
            fields: [],
            errors: [],
            headers: [
                { text: "ID", value: "id" },
                { text: "Nombre", value: "name" },
                { text: "Orden", value: "sequence" },
                { text: "Acciones", value: "actions", sortable: false }
            ]
        };
    },
    created: function() {},
    watch: {
        options: {
            handler() {
                this.obtenerListado();
            },
            deep: true
        },
        dialog(val) {
            val || this.close();
        },
        dialogDelete(val) {
            val || this.closeDelete();
        }
    },
    methods: {
        mostrarMensaje(tipo, icono, mensaje) {
            this.alert = true;
            this.mensajeAcciones = mensaje;
            this.alertType = tipo;
            this.alertIcon = icono;
            setTimeout(() => {
                this.alert = false;
            }, 5000);
        },
        obtenerListado() {
            axios
                .get(url_api, {
                    params: {
                        ajax: 1,
                        page: this.options.page
                    }
                })
                .then(res => {
                    this.items = res.data;
                })
                .catch(err => {
                    console.log(err);
                });
        },
        agregar() {
            const data = {};
            for (let [key, val] of Object.entries(this.fields)) {
                if (val != "") Object.assign(data, { [key]: val });
            }
            axios
                .post(url_api, data)
                .then(response => {
                    if (response.data.last_insert_id) {
                        this.dialognew = false;
                        this.obtenerListado();
                        this.mostrarMensaje(
                            "success",
                            "mdi-check-circle",
                            this.msjExito
                        );
                    }
                })
                .catch(error => {
                    let errores = error.response.data.errors;
                    this.errors = errores;
                });
        },
        guardar() {
            const data = {};
            for (let [key, val] of Object.entries(this.editedItem)) {
                if (val != "") Object.assign(data, { [key]: val });
            }

            axios
                .put(url_api + "/" + this.editedItem.id, data)
                .then(response => {
                    this.dialog = false;
                    this.close();
                    this.mostrarMensaje(
                        "success",
                        "mdi-check-circle",
                        this.msjExito
                    );
                })
                .catch(error => {
                    let errores = error.response.data.errors;
                    this.errors = errores;
                });
        },
        newItem() {
            this.errors = [];
            (this.fields = []), (this.dialognew = true);
        },
        editItem(item) {
            this.errors = [];
            this.editedItem = item;
            this.dialog = true;
        },

        deleteItem(item) {
            this.editedItem = item;
            this.dialogDelete = true;
        },

        deleteItemConfirm() {
            this.closeDelete();
        },

        close() {
            this.obtenerListado();
            this.dialog = false;
        },

        closeDelete() {
            this.obtenerListado();
            this.dialogDelete = false;
        }
    }
};
</script>
